# dependencies
node_modules/

# generated frontend builds
dist/

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Google credentials
src/config/google-service-account.json

